
bin/Debug/netstandard2.0/ref/Shhh.dll
bin/Debug/netstandard2.0/Shhh.deps.json
bin/Debug/netstandard2.0/Shhh.dll
bin/Debug/netstandard2.0/Shhh.pdb
obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
obj/Debug/netstandard2.0/App.xaml.g.cs
obj/Debug/netstandard2.0/Dynamix.Shhh.AssemblyInfo.cs
obj/Debug/netstandard2.0/Dynamix.Shhh.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/Dynamix.Shhh.assets.cache
obj/Debug/netstandard2.0/Dynamix.Shhh.csprojAssemblyReference.cache
obj/Debug/netstandard2.0/ref/Shhh.dll
obj/Debug/netstandard2.0/Shhh.AssemblyInfo.cs
obj/Debug/netstandard2.0/Shhh.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/Shhh.assets.cache
obj/Debug/netstandard2.0/Shhh.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/Shhh.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/Shhh.csprojAssemblyReference.cache
obj/Debug/netstandard2.0/Shhh.dll
obj/Debug/netstandard2.0/Shhh.pdb
obj/Debug/netstandard2.0/Views/Home.xaml.g.cs
obj/Debug/netstandard2.0/Views/NewSilensor.xaml.g.cs
obj/Debug/netstandard2.0/Views/SilensorAction.xaml.g.cs
obj/Debug/netstandard2.0/XamlC.stamp
obj/Dynamix.Shhh.csproj.nuget.dgspec.json
obj/Dynamix.Shhh.csproj.nuget.g.props
obj/Dynamix.Shhh.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Shhh.csproj.nuget.dgspec.json
obj/Shhh.csproj.nuget.g.props
obj/Shhh.csproj.nuget.g.targets
